demo/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"/><title>Devil Title</title><link rel="stylesheet" href="./css/smartsearch.css"/></head><body><div class="demo"><main class="smartsearch" id="smartsearch"><div class="smartsearch-opener"><h2 class="smartsearch-title title_white">Поиск по объектам</h2><div class="smartsearch-container smartsearch-container__unfocused"><div class="smartsearch-inputcnt"><input class="smartsearch-input" type="text" autocomplete="off"/><button class="smartsearch-button" type="submit" name="list" onclick="changeViewList(this)"></button></div><ul class="smartsearch-tabs"><li class="smartsearch-tab" role="presentation"><span class="smartsearch-pill" data-type="209">Офисы</span></li><li class="smartsearch-tab" role="presentation"><span class="smartsearch-pill" data-type="210">Склады</span></li><li class="smartsearch-tab" role="presentation"><span class="smartsearch-pill" data-type="211">Отв. хранение</span></li><li class="smartsearch-tab" role="presentation"><span class="smartsearch-pill" data-type="212">ТРК</span></li><li class="smartsearch-tab" role="presentation"><span class="smartsearch-pill" data-type="213">Коворкинг</span></li></ul><div class="smartsearch-result js-search-result smartsearch-result__empty"><ul class="smartsearch-list"></ul></div></div></div></main></div></body><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script><script src="./js/SmartSearchMain.js"></script><script src="./js/dexie.min.js"></script><script type="text/javascript" defer="defer" src="{$estate_folder}/apps/smartsearch/front/js/SmartSearchInit.js"></script></html>

src/pug/smartsearch/index.pug
//- index.pug

include smartsearch_input
include smartsearch_pills
include smartsearch_pills_consent
include smartsearch_result
include smartsearch_result_list

mixin smartsearch
  //- disable ng
  //- main#smartsearch.smartsearch(data-stellar-ratio='0.8', data-stellar-background-ratio='0.4' , ng-app='SmartSearchApp')
  //- h6= demo_enabled
  main#smartsearch.smartsearch
    .smartsearch-opener
      if demo_enabled
        h2.smartsearch-title.title_white Поиск по объектам
      else
        h2.smartsearch-title {$smart_search_title}
      .smartsearch-container.smartsearch-container__unfocused
        +smartsearch_input
        if demo_enabled
          +smartsearch_pills
        else
          +smartsearch_pills_consent
        +smartsearch_result

mixin smartsearch-jsblockinit
  script(type="text/javascript" , defer , src='{$estate_folder}/apps/smartsearch/front/js/SmartSearchInit.js')
  //- script(type="text/javascript" , defer , src='{$estate_folder}/apps/smartsearch/front/js/SmartSearchInit.min.js')
